*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(3, 90, 29);

}
body{
    background-color: rgb(2, 80, 2);
}


main{
    background-color: rgb(56, 1, 1);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(177, 2, 2, 0.473); 

}

